@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Microsoft.AspNetCore.Http


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorConnect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SeniorConnect.styles.css" asp-append-version="true" />
    @RenderSection("CustomStyle", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-fixed-top shadow ">
            <div class="container-fluid">
                <a class="navbar-brand logo-nav" href="/">Seniorconnect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto mx-5" style="--bs-scroll-height: 100px;">
                        <li class="nav-item @(Context.Request.Path == "/" ? "bg-primary bg-opacity-75 rounded-pill animate__animated animate__zoomIn" : "")">
                            <a class="nav-link @(Context.Request.Path == "/" ? "text-white" : "")" href="/">Home</a>
                        </li>
                        <li class="nav-item @(Context.Request.Path == "/activity/Activity" ? "bg-primary bg-opacity-75 rounded-pill animate__animated animate__zoomIn" : "")">
                            <a class="nav-link @(Context.Request.Path == "/activity/Activity" ? "text-white" : "")" href="/activity/Activity">Activiteiten</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item @(Context.Request.Path == "/activity/AddActivity" ? "bg-primary bg-opacity-75 rounded-pill animate__animated animate__zoomIn" : "")">
                                <a class="nav-link @(Context.Request.Path == "/activity/AddActivity" ? "text-white" : "")" href="/activity/AddActivity">Activiteit toevoegen</a>
                            </li>
                        }
                        <li class="nav-item @(Context.Request.Path == "/Volunteer/Volunteer" ? "bg-primary bg-opacity-75 rounded-pill animate__animated animate__zoomIn" : "")">
                            <a class="nav-link @(Context.Request.Path == "/Volunteer/Volunteer" ? "text-white" : "")" href="/Volunteer/Volunteer">Vrijwilligers</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            <li class="nav-item @(Context.Request.Path == "/calendar/calendar" ? "bg-primary bg-opacity-75 rounded-pill animate__animated animate__zoomIn" : "")">
                                <a class="nav-link @(Context.Request.Path == "/calendar/calendar" ? "text-white" : "")" href="/calendar/calendar">Agenda</a>
                            </li>
                        }
                    </ul>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person-circle text-primary" style="font-size: 1.5rem;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end animate__animated animate__fadeInUp shadow" aria-labelledby="navbarDropdown">
                                    <li class="dropdown-item">
                                        <a href="/profile" class="text-decoration-none">
                                            @User.Identity.Name
                                            <p class="text-muted text-capitalize" style="font-size:15px">profile bekijken</p>
                                        </a>
                                    </li>
                                    <li class="border-top border-3"></li>
                                    <li>
                                        <a class="dropdown-item text-primary" href="/Auth/Logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a class=" btn btn-outline-primary" href="/login"> Login </a>
                    }
                </div>
            </div>
        </nav>
        @RenderSection("Slider", required: false)
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="position-fixed bottom-0 end-0 m-5 m-xl-5 m-sm-2 z-3">
            <a class="btn btn-warning text-white btn-lg animate__animated animate__headShake animate__infinite animate__repeat-3 animate__delay-3s"
                id="help-button"
                href="/help/help">
                <i class="bi bi-question-circle-fill fw-bold"></i>
                Help
            </a>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            &copy; 2024 - SeniorConnect - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
            var notification = '@TempData["Notification"]';
            var notificationType = '@TempData["NotificationType"]';
            var redirectAfterConfirmLink = '@TempData["RedirectAfterConfirmLink"]';
            var notificationText = '@TempData["NotificationText"]';

            const sweetAlertConfig = {
                icon: notificationType,
                title: notification,
                text: notificationText,
                confirmButtonText: 'Oke',
            }

            if (notification) {
                const alert = Swal.fire(
                    sweetAlertConfig
                );

                if (redirectAfterConfirmLink) {
                    alert.then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = redirectAfterConfirmLink;
                        }
                    })
                }
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>