@page
@using Humanizer
@using System.Globalization
@model SeniorConnect.Pages.activity.ActivityDetailModel
@{
}

<div class="row mt-5">
    <div class="col-lg-9 d-flex justify-content-between mb-3">
        <h2 class="card-title text-capitalize">@Model.Activity.Title</h2>
        @if (User.Identity.Name != null)
        {
            <form method="post" autocomplete="off" id="actiivtyUserForm">
                <input type="hidden" id="acitivtyTitle" name="acitivtyTitle" value="@Model.Activity.Title" />
                <input type="hidden" id="activityId" name="activityId" value="@Model.Activity.ActivityId" />
                <input type="submit" class="btn btn-primary" name="submit" value="Inschrijven" />
            </form>
        }
        else
        {
            <a class="btn btn-primary" href="/login">Inloggen</a>
        }
    </div>
    <div class="col-lg-9">
        <div class="card mb-4">
            <img class="card-img-top img-fluid" src="@Model.Activity.Image" alt="ActivityImage" style="width: 100%; height: 550px;" />

            <div class="card-body">
                <div class="d-flex justify-content-between bd-highlight mb-3">
                    <p class="text-muted">Gemaakt: @Model.Activity.CreatedAt.Humanize(false)</p>
                </div>
                <p class="card-text">
                    @Model.Activity.Description
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="sticky-md-top">
            <div class="card mb-4">
                <div class="card-header">Organisator</div>
                <div class="card-body">
                    <div class="d-flex gap-3 align-items-center">
                        <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fmeta-q.cdn.bubble.io%2Ff1512936020165x278911292087286720%2FA.png?w=64&h=64&auto=compress&dpr=1&fit=max" class="rounded float-start" alt="Avatar">
                        <p class="mb-0">@Model.Activity.Organizer.FirstName</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="flex-column">
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-people-fill"></i>
                            <div>
                                <p class="mb-0 fw-bold">Deelnemers</p>
                                <p class="mb-0">@Model.Activity.MaxParticipants</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <i class="bi bi-calendar-event"></i>
                            <div>
                                <p class="mb-0 fw-bold">Datum/Tijd</p>
                                <p class="mb-0 text-capitalize">@Model.Activity.Date.ToString("dddd d MMMM yyyy")</p>
                                <p class="mb-0">Om: @Model.Activity.Date.ToString("HH:mm") uur</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                            <i class="bi bi-geo-alt"></i>
                            <div>
                                <p class="mb-0 fw-bold">Plaats</p>
                                <p class="mb-0">@Model.address</p>
                                <p class="mb-0">@Model.zipCode</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
